<style>
    #menu {
        list-style-type: square;
        color: lightgrey;
    }
    #menu li {
        border-bottom: solid 1px lightgrey;
        padding: 3px;
        color: lightgrey;
    }

    #menu li li {
        border-bottom: solid 1px lightgrey;
        padding:0px;
        color: lightgrey;
    }
    #menu li li:last-child {
        border-bottom: none;
    }
    #menu a {
        color: #444;
        display:block;
        text-align:left;
    }
    #menu a:hover {
        background-color: lightgrey;
    }
</style>
<ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/executive">Executive</a></li>
    <li><a href="/subcommissions">Subcommissions</a></li>
    <li><a href="/chart">Chart/Time Scale</a></li>
    <li>
        <a href="/gssps">GSSPs</a>
        <ul>
            <li><a href="/gssps/#quaternary">Quaternary</a></li>
            <li><a href="/gssps/#neogene">Neogene</a></li>
            <li><a href="/gssps/#paleogene">Paleogene</a></li>
            <li><a href="/gssps/#cretaceous">Cretaceous</a></li>
            <li><a href="/gssps/#jurassic">Jurassic</a></li>
            <li><a href="/gssps/#triassic">Triassic</a></li>
            <li><a href="/gssps/#permian">Permian</a></li>
            <li><a href="/gssps/#carboniferous">Carboniferous</a></li>
            <li><a href="/gssps/#devonian">Devonian</a></li>
            <li><a href="/gssps/#silurian">Silurian</a></li>
            <li><a href="/gssps/#ordovician">Ordovician</a></li>
            <li><a href="/gssps/#cambrian">Cambrian</a></li>
            <li><a href="/gssps/#proterozoic">Proterozoic</a></li>
            <li><a href="/gssps/#archean">Archean</a></li>
            <li><a href="/gssps/#hadean">Hadean</a></li>
        </ul>
    </li>
    <li><a href="/archives">Archives</a></li>
    <li><a href="/guide">Stratigraphic Guide</a></li>
    <li><a href="/statutes">Statutes & Guidelines</a></li>
    <li><a href="/prizes">Prizes</a></li>
    <!--<li><a href="/forum">Discussions</a></li>-->
    <li><a href="/publications">Publications</a></li>
    <li><a href="/links">Links</a></li>
</ul>

    
    
    
    
    
    
    
    
    
    
    
    

